<div>
  <!-- Whole navbar, contains: subject navbar + socials navbar -->
  <div class="whole-navbar">
    <!-- Subject navbar section -->
    <nav class="subject-navbar" aria-label="Main subject navbar">
      <ul class="link-list">
        <li class="navbar-eye-catcher">Subject:</li>
        <li>
          <a href="/dist/index.html" class="navbar-link">HQ</a>
        </li>
        <li>
          <a href="/dist/web3/index.html" class="navbar-link">Web3</a>
        </li>
        <li>
          <a href="/dist/philosophy/index.html" class="navbar-link"
            >Philosophy
          </a>
        </li>
        <li>
          <a href="/dist/books/index.html" class="navbar-link">Books</a>
        </li>
        <li>
          <a href="/dist/about/index.html" class="navbar-link">About me</a>
        </li>
        <li>
          <a href="/dist/need-help/index.html" class="navbar-link"
            >Need help?</a
          >
        </li>
      </ul>
    </nav>
    <!-- Social media navbar section -->
    <nav class="social-navbar" aria-label="Social media navbar">
      <ul class="link-list">
        <li class="navbar-eye-catcher">Socials:</li>
        <li>
          <a
            href="https://www.linkedin.com/in/luuk-kessels"
            class="navbar-link"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn
          </a>
        </li>
        <li>
          <a
            href="https://x.com/lukefi_"
            class="navbar-link"
            target="_blank"
            rel="noopener noreferrer"
            >X/Twitter
          </a>
        </li>
        <li>
          <a
            href="https://github.com/Lmpkessels"
            class="navbar-link"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub
          </a>
        </li>
        <li>
          <a
            href="mailto:luuk@lukefi.com"
            class="navbar-link"
            rel="noopener noreferrer"
            >E-mail
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
