<nav class="social-navbar">
  <ul>
    <!-- Eye cathcer -->
    <li class="subject">Socials:</li>
    <li>
      <!-- Links to socials -->
      <a
        href="https://www.linkedin.com/in/luuk-kessels"
        class="nav-a-tag"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn
      </a>
    </li>
    <li>
      <a
        href="https://x.com/lukefi_"
        class="nav-a-tag"
        target="_blank"
        rel="noopener noreferrer"
        >X/Twitter
      </a>
    </li>
    <li>
      <a
        href="https://github.com/Lmpkessels"
        class="nav-a-tag"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub
      </a>
    </li>
    <li>
      <a
        href="mailto:luuk@lukefi.com"
        class="nav-a-tag"
        rel="noopener noreferrer"
        >E-mail
      </a>
    </li>
  </ul>
</nav>
