# Folders
archive
dist/main.min.css

# Templates
shell-commands.txt
template

# Cheat sheet
github.md
gitIgnore.md
markdown.md

# Images
images

# Styling for unifying code
.prettierignore

# Personal help sheets
TODO.md

# DS_Store
.DS_Store