/* Header content - default mode (light) */
body.default-mode .header-content {
  color: #000000;
  text-decoration: none;
}

body.default-mode .header-content:hover {
  color: #4f69c4;
}

/* Header content - dark */
body:not(.default-mode) .header-content {
  color: #ffffff;
  text-decoration: none;
}

body:not(.default-mode) .header-content:hover {
  color: #4f69c4;
}

/* Default mode (light) */
body.default-mode .anchor-content {
  color: #000000;
  text-decoration: none;
}

body.default-mode .anchor-content:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Dark mode */
body:not(.default-mode) .anchor-content {
  color: #ffffff;
  text-decoration: none;
}

body:not(.default-mode) .anchor-content:hover {
  color: #4f69c4;
  text-decoration: underline;
}
