.full-article {
  display: flex;
  flex-direction: column;
  max-width: 46.875rem;
}

.mode-toggle {
  display: flex;
  justify-content: flex-end;
  width: 46.875rem;
  margin-top: 22px;
}

.navbar {
  border-bottom: 3px solid #dcdcdc;
}

.back-to-hq {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #dcdcdc;
  width: 44.125rem;
  transition: 0.3s ease;
}

.back-to-hq:hover {
  color: #4f69c4;
  text-decoration: underline;
}
/* .above-section {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #dcdcdc;
} */

.bellow-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-back-all,
.date-post {
  text-decoration: none;
  font-size: 0.875rem;
  color: #888;
  transition: 0.3s ease;
  padding-top: 0.5rem;
  display: block;
}

.link-back-all:hover {
  color: #4f69c4;
  text-decoration: underline;
}

.content-article {
  margin-top: 0.75rem;
}

@media (max-width: 768px) {
  .link-back-all {
    text-decoration: underline;
  }
}
@media (max-width: 480px) {
  .full-article {
    width: 95%;
  }
}
