.full-article {
  display: flex;
  flex-direction: column;
  max-width: 750px;
}

.mode-toggle {
  display: flex;
  justify-content: flex-end;
  width: 750px;
  margin-top: 22px;
}

.header-three-article {
  border-bottom: 2px solid #888;
}
/* .above-section {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #dcdcdc;
} */

.bellow-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-back-all,
.date-post {
  text-decoration: none;
  font-size: 0.875rem;
  color: #888;
  transition: 0.3s ease;
  padding-top: 0.5rem;
  display: block;
}

.link-back-all:hover {
  color: #4f69c4;
  text-decoration: underline;
}

.content-article {
  margin-top: 0.75rem;
}

@media (max-width: 768px) {
  .link-back-all {
    text-decoration: underline;
  }
}
@media (max-width: 480px) {
  .full-article {
    width: 95%;
  }
}
