/* Default page settings */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

.ti-to-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  margin-right: 1rem;
}

.navbar {
  width: 750px;
}

.lead-section {
  width: 750px;
  margin: 1.5rem;
  margin-top: 2rem;
}

.article-section {
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.toggle-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 480px) {
  .navbar,
  .lead-section {
    width: 95%;
    justify-content: space-between;
  }
}
