/* Default page settings */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

.ti-to-header {
  display: flex;
  justify-content: space-between;
  margin: 22px;
}

.navbar {
  width: 750px;
}

.lead-section {
  width: 675px;
  margin-top: 22px;
}

.toggle-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (max-width: 480px) {
  .navbar,
  .lead-section {
    width: 90%;
    justify-content: space-between;
    margin-left: 0%;
  }
  .ti-to-header {
    margin-left: 2%;
    margin-right: 2%;
  }
}
