/* Hover lead heading */
.lead-heading {
  text-decoration: none;
  transition: 0.3s ease;
}

.lead-heading:hover {
  color: #4f69c4;
  text-decoration: none;
}

/* Check future - maybe needs to be removed */
/* Main blog - alignment settings */
.main-blog-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.date {
  color: #888;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: block;
}

/* Setting padding - date, heading, p */
.date,
.lead-heading,
.lead-content {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.full-article-lead {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
