/* Hover lead heading */
.lead-heading {
  text-decoration: none;
  transition: 0.3s ease;
}

.lead-heading:hover {
  color: #4f69c4;
  text-decoration: none;
}

/* Check future - maybe needs to be removed */
/* Main blog - alignment settings */
.main-blog-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

/* Date settings for posts && leads */
.date {
  color: #888;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: block;
}
