/* Hover lead heading */
.lead-heading {
  text-decoration: none;
  transition: 0.3s ease;
}

.lead-heading:hover {
  color: #4f69c4;
  text-decoration: none;
}

/* Main blog - alignment settings */
.main-blog-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.date {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
}

/* Setting padding - date, heading, p */
.date,
.lead-heading,
.lead-content {
  padding-top: 12px;
  padding-bottom: 12px;
}
