/* Subject navbar styling */
#subject-pointer {
  color: #4f69c4;
  margin: 0;
  padding: 0;
}

/* Styling anchor - Subject navbar */
.subject-section {
  text-decoration: none;
  color: #dcdcdc;
  transition: 0.3s ease;
}

.subject-section:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Default settings - ul subject navbar */
.list-section {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1.5rem;
  border-top: 2px solid #dcdcdc;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 480px) {
  .list-section {
    gap: 0.75rem;
    padding: 1rem;
  }
}
