/* !NOTE: Everything should be restructured!

TODO: Have a section for Colors, Size, Typography, etc.
TODO: Have all reputition, like PX, REM, etc, for all classes, do not repeat.
TODO: Have clean comments.

*/

/***** RESET *****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****  BASE *****/
/* Global font-family */
html {
  font-family: "Nunito Sans", sans-serif;
}

/*****  LIGHT/DARK MODE *****/
html.default-mode .header-link {
  color: #000000;
  text-decoration: none;
}

html.default-mode .header-link:hover,
html:not(.default-mode) .header-link:hover {
  color: #4f69c4;
}

html:not(.default-mode) .header-link,
html:not(.default-mode) .post-link {
  color: #ffffff;
  text-decoration: none;
}

html.default-mode .post-link {
  color: #dcdcdc;
  text-decoration: none;
}

html.default-mode .post-link:hover,
html:not(.default-mode) .post-link:hover,
html.default-mode .full-post-link:hover,
html:not(.default-mode) .full-post-link:hover {
  color: #4f69c4;
  text-decoration: underline;
}

html.default-mode .full-post-link {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}

html:not(.default-mode) .full-post-link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

html:not(.default-mode) .horizontal-row-top,
html:not(.default-mode) .table {
  border-top: 1px solid #ffffff;
}

html:not(.default-mode) .partial-row {
  border-right: 1px solid #ffffff;
}

html:not(.default-mode) .top,
html:not(.default-mode) .partial-row-left {
  border-left: 1px solid #ffffff;
}

html:not(.default-mode) .bottom,
html:not(.default-mode) .horizontal-row,
html:not(.default-mode) .horizontal-row-top {
  border-bottom: 1px solid #ffffff;
}

/***** MEDIA QUERIES *****/
@media (max-width: 768px) {
  html.default-mode .post-link,
  html:not(.default-mode) .post-link,
  html.default-mode .full-post-link,
  html:not(.default-mode) .full-post-link {
    text-decoration: underline;
  }
}
@media (max-width: 768px) {
  html.default-mode .header-link,
  html:not(.default-mode) .header-link,
  html.default-mode .post-link,
  html:not(.default-mode) .post-link,
  html.default-mode .full-post-link,
  html:not(.default-mode) .full-post-link {
    color: #4f69c4;
    text-decoration: none;
  }
}
