/* Header content - default mode (light) */
html.default-mode .header-link {
  color: #000000;
  text-decoration: none;
}

html.default-mode .header-link:hover {
  color: #4f69c4;
}

/* Header content - dark */
html:not(.default-mode) .header-link {
  color: #ffffff;
  text-decoration: none;
}

html:not(.default-mode) .header-link:hover {
  color: #4f69c4;
}

/* Default mode (light) */
html.default-mode .post-link {
  color: #dcdcdc;
  text-decoration: none;
}

html.default-mode .post-link:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Dark mode */
html:not(.default-mode) .post-link {
  color: #ffffff;
  text-decoration: none;
}

html:not(.default-mode) .post-link:hover {
  color: #4f69c4;
  text-decoration: underline;
}

html.default-mode .full-post-link {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}

html.default-mode .full-post-link:hover {
  color: #4f69c4;
  text-decoration: underline;
}

html:not(.default-mode) .full-post-link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

html:not(.default-mode) .full-post-link:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Table styling lines - dark mode*/
html:not(.default-mode) .horizontal-row-top {
  border-top: 1px solid #ffffff;
}

html:not(.default-mode) .partial-row-left {
  border-left: 1px solid #ffffff;
}

html:not(.default-mode) .horizontal-row,
.horizontal-row-top {
  border-bottom: 1px solid #ffffff;
}

html:not(.default-mode) .partial-row {
  border-right: 1px solid #ffffff;
}

/* Taking away hover effect tablet/phone */
@media (max-width: 768px) {
  html.default-mode .post-link,
  html:not(.default-mode) .post-link,
  html.default-mode .full-post-link,
  html:not(.default-mode) .full-post-link {
    text-decoration: underline;
  }
}
@media (max-width: 768px) {
  html.default-mode .header-link,
  html:not(.default-mode) .header-link,
  html.default-mode .post-link,
  html:not(.default-mode) .post-link,
  html.default-mode .full-post-link,
  html:not(.default-mode) .full-post-link {
    color: #4f69c4;
    text-decoration: none;
  }
}
