/* Settings toggle position - full post */
.toggle-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.75rem;
  margin-bottom: 0.406rem;
}

/* Title full post, instead of luke with subheading + border bottom */
.title-full-post {
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #dcdcdc;
}

/* Sight sub-section, date + link back all */
.sub-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.25rem;
}

/* Styling link back to all articles */
.to-all-articles {
  color: #888;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  display: block;
}

/* Hover effect link back to all articles */
.to-all-articles:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Media link back to all styling instead of hover effect */
@media (max-width: 768px) {
  .to-all-articles {
    color: #888;
    text-decoration: underline;
  }
}
