/* Styling luke h1 header */
.luke-heading {
  color: #4f69c4;
}

/* Styling subheading luke */
.main-sub-heading {
  color: #dcdcdc;
  font-style: italic;
}

/* Taking away underline from anchor link */
.luke-heading,
.main-sub-heading {
  text-decoration: none;
}

/* --snip-- */
.title-header {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
}

.whole-navbar {
  max-width: 750px;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 3px solid #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
}

.subject-navbar {
  border-bottom: 1px solid #dcdcdc;
}

.link-list {
  display: flex;
  justify-content: center;
  gap: 9rem;
  list-style: none;
}

.header-link,
.header-two {
  font-weight: 400;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.spacing-whole-header {
  max-width: 750px;
}
