/* Spacing && alignment navbar */
.whole-navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.5rem;
}

/* Styling links navbar list */
.link-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2.125rem;
}

/* Adding border line + space between element and margin */
.subject-navbar {
  padding-bottom: 1.5rem;
}

/*
 Adding border line bottom + space between element and margin for top and,
 bottom 
*/
.social-navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Navbar decoration */
.navbar-eye-catcher {
  color: #4f69c4;
}

/* Styling navbar link */
.navbar-link {
  text-decoration: none;
  color: #dcdcdc;
  transition: 0.3s ease;
}

/* Creating hover effect navbar */
.navbar-link:hover {
  color: #4f69c4;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .link-list {
    gap: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .whole-navbar {
    width: 100%;
  }
}
