/* HTML page default settings*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Font family for every html file */
html {
  font-family: "Nunito Sans", sans-serif;
}

/* HTML page default settings */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content-wrapper {
  width: 750px;
  height: 100vh;
  position: relative;
}

.light-dark-toggle {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.75rem;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
/* Sight settings overall luke/subheading, and toggle */
.title-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Sight settings lead section */
.lead-section {
  width: 91%;
  margin: 2rem 1.5rem 1.5rem;
}

/* Sight settings media */
@media (max-width: 480px) {
  .whole-header,
  .lead-section {
    width: 95%;
  }

  .title-toggle-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
