/* HTML page default settings*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* HTML page body default settings */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

/* Width whole heading */
.whole-header {
  width: 750px;
}

/* Sight settings overall luke/subheading, and toggle */
.title-toggle-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #dcdcdc;
}

/* Sight settings lead section */
.lead-section {
  width: 680px;
  margin: 1.5rem;
  margin-top: 2rem;
}

/* Sight settings media */
@media (max-width: 480px) {
  .whole-header,
  .lead-section {
    width: 95%;
    justify-content: space-between;
  }
}
