/* 
Set whole toggle in alignment, 
leave room between objects 
*/
.whole-toggle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* Default mode - color background */
html.default-mode body {
  background: #ffffff54;
  color: #000000;
}

/* Default mode - toggle wrapper button */
html.default-mode .toggle-wrapper {
  width: 44px;
  height: 22px;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  background-color: #f69c3d;
}

/* Default mode - knob inside toggle wrapper */
html.default-mode .toggle-knob {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  right: 24px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease;
}

html.default-mode:active .toggle-knob {
  left: 2px;
  border-radius: 99px;
}

/* Dark mode - color background */
html body {
  background-color: #0a0f1c;
  color: #ffffff;
}

/* Dark mode - toggle wrapper button */
.toggle-wrapper {
  width: 44px;
  height: 22px;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  background-color: #4f69c4;
}

.toggle-wrapper:active .toggle-knob {
  width: 34px;
  right: 2px;
  border-radius: 99px;
}

/* Light mode - knob inside wrapper */
.toggle-knob {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease, right 1s ease, background-color 0.3s ease;
}

/* Settings toggle */
.toggle-knob {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
  gap: 1px;
}

/* Icons */
/* Sun icon */
.toggle-sun {
  width: 18px;
}

/* Moon icon */
.toggle-moon {
  width: 18px;
}
