/* Full page setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

/* Main header setup */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #dcdcdc;
}

.main-header a {
  text-decoration: none;
}

.main-header h1 a {
  color: #4f69c4;
}

/* Header navbar */
.social-navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 12px;
}

/* Main color + hover effect */
.nav-a-tag {
  color: #dcdcdc;
  transition: 0.3s ease;
}

.nav-a-tag:hover {
  color: #4f69c4;
}
