<!-- Main blog section -->
<main class="default-mode">
  <article class="full-article-lead">
    <!-- 
  Time when blog created - For date use: dd/mm/yyyy - For time use T--:-- 
  For users to see use: Year in digits - Months in characters - Date digits
  -->
    <time datetime="yyyy-mm--dd" class="date">--snip--</time>
    <!-- Title lead to full blog -->
    <h2 class="lead-heading">
      <a href="--snip--" class="header-content"></a>
    </h2>
    <!-- Content blog - For anchor class use: class="anchor-content" -->
    <p></p>
  </article>
</main>
