<section class="lead-section">
  <div class="date-section">
    <time datetime="yyyy-mm-dd" class="date"></time>
  </div>
  <div class="post-header-section">
    <h2><a href="/public/posts/#" class="header-link"></a></h2>
  </div>
  <!-- Anchor tag class="post-link" -->
  <div class="content-section">
    <p class="content-article"></p>
  </div>
</section>

<!-- 
Hello great you're here! I'm Luuk Kessels, 25. Focus creating value in
      Web3, while sharing my progress. I'll be updating you by giving you
      key-insights of my biggest lessons. If you want to find out more, follow
      these links:
      <a href="https://x.com/lukefi_" class="post-link">X/Twitter</a>
      or
      <a href="https://www.linkedin.com/in/luuk-kessels/" class="post-link"
        >LinkedIn</a
      >
      here I update you daily, and tell you when I deploy a blog, so you stay
      updated. Leave a follow and let's build a relationship! See you there. -->
