<!-- Main blog section -->
<main class="default-mode">
  <article class="full-article-lead">
    <!-- 
  Time when blog created - For date use: dd/mm/yyyy - For time use T--:-- 
  For users to see use: Year in digits - Months in characters - Date digits
  -->
    <time datetime="25-04-2025" class="date">2025 Apr 25</time>
    <!-- Title lead to full blog -->
    <h2 class="lead-heading">
      <a href="--snip--" class="header-content"
        >The rise and fall of the roman empire</a
      >
    </h2>
    <!-- Content blog - For anchor class use: class="anchor-content" -->
    <p>
      Lorem ipsum dolor sit amet
      <a href="" class="anchor-content">consectetur</a> adipisicing elit. Quos
      voluptate repellat praesentium nam? Quis quasi laudantium iure debitis
      voluptate maiores nulla corporis tenetur, delectus
      <a href="" class="anchor-content">consectetur</a> amet velit eligendi
      autem laboriosam ipsum! <a href="" class="anchor-content">consectetur</a>
    </p>
  </article>
</main>
