<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/post-lead.css" />
  </head>
  <body>
    <!-- Main blog section -->
    <main class="main-blog-section">
      <!-- Time blog created -->
      <time datetime="23-04-25T15:49" class="date">2025 Apr 23</time>
      <!-- Title lead to full blog -->
      <h2><a href="/" class="lead-heading">This is a test heading</a></h2>
      <!-- Content blog -->
      <p class="lead-content">
        Lorem ipsum, dolor sit amet
        <a href="/" class="anchor-content">consectetur</a> adipisicing elit. Ea
        culpa cupiditate asperiores quos quia, sit laborum
        <a href="/" class="anchor-content">consectetur</a> corrupti
        necessitatibus, hic beatae veritatis quasi iste esse maiores excepturi
        nisi, mollitia laudantium assumenda
        <a href="/" class="anchor-content">consectetur</a>?
      </p>
    </main>
  </body>
</html>
