<!-- Subject navbar -->
<header class="subject-navbar">
  <nav>
    <ul class="list-section">
      <!-- Eye catcher -->
      <li id="subject-pointer">Subject:</li>
      <!-- Subject links -->
      <li><a href="#" class="subject-section">New</a></li>
      <li><a href="#" class="subject-section">Web3</a></li>
      <li><a href="#" class="subject-section">Health</a></li>
      <li><a href="#" class="subject-section">Books</a></li>
      <li>
        <!-- Development link -->
        <!-- <a href="/public/about/index.html" class="subject-section">About me</a> -->
        <!-- Production link -->
        <a href="/about/" class="subject-section">About me</a>
      </li>
    </ul>
  </nav>
</header>
