<!-- Subject navbar -->
<header class="subject-navbar">
  <nav>
    <ul class="list-section">
      <li id="subject-pointer">Subject:</li>
      <li><a href="#" class="subject-section">New</a></li>
      <li><a href="#" class="subject-section">Web3</a></li>
      <li><a href="#" class="subject-section">Health</a></li>
      <li><a href="#" class="subject-section">Books</a></li>
      <li>
        <a href="/public/about/" class="subject-section">About me</a>
      </li>
    </ul>
  </nav>
</header>
