/* Full page styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

/* Main header default settings */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #dcdcdc;
}

/* Main header styling */
.main-header h1 a,
.main-header a {
  color: #4f69c4;
  text-decoration: none;
}

/* Subheading of main header - writing to learn */
#main-sub-heading {
  color: #dcdcdc;
  font-style: italic;
}

/* Main color - navbar socials */
.social-navbar .nav-a-tag {
  color: #dcdcdc;
  transition: 0.3s ease;
}

/* Hover effect - navbar socials */
.nav-a-tag:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Header navbar */
.social-navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
}

/* Subject navbar styling */
.subject {
  color: #4f69c4;
  margin: 0;
  padding: 0;
}

/* Styling anchor - Subject navbar */
.subject-navbar a {
  text-decoration: none;
  color: #dcdcdc;
  transition: 0.3s ease;
}

.subject-navbar a:hover {
  color: #4f69c4;
  text-decoration: underline;
}

/* Anchor styling - Back to top */
#back-to-top {
  text-decoration: underline;
  transition: 0s;
}

#back-to-top:hover {
  color: #f69c3d;
  text-decoration: underline;
}

/* Default settings - ul subject navbar */
.subject-navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 12px;
  border-bottom: 1px solid #dcdcdc;
  gap: 30px;
  justify-content: center;
}
